* {
    margin: 0;
}

body{
    background-color: #f3f5fa;
}

.db-container{
    display: flex;
}

nav {
    background-color: #f7f8fc;
    display: flex;
    gap: 2.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100vh;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.imgr {
    -webkit-animation: 10s rotate linear infinite;
    animation: 10s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 375px 1fr;
}

main{
    overflow-y: scroll;
    height: 100vh;
    background-color: #fff;
}

main > h2 , .top10 > h4{
    padding: 1.5rem;
}

.data ,.countryCard{
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    width: 70%;
    margin-bottom: 1rem;
    padding: 1rem;
    justify-content: space-between;
}

.data:hover,
.countryCard:hover {
    scale: 1.01;
}

.countryCard{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.CasosTotales{
    background-color: #fff2f2;
}

.CasosActivos{
    background-color: #fff9f1;
}

.CasosRecuperados{
    background-color: #edffec;
}

.Muertes{
    background-color: #eefbff;
}

.CasosTotales:hover{
    border: 2px solid #ff094c;
}

.CasosActivos:hover{
    border: 2px solid #ff6b08;
}

.CasosRecuperados:hover{
    border: 2px solid #9dd44f;
}

.Muertes:hover{
    border: 2px solid #3641b6;
}

.case{
    font-size: 1.4rem;
    margin-left: auto;
}

.caseNumber{
    color: #ff094c;
}

.caseNumberuno{
    color: #ff6b08;
}

.caseNumberdos{
    color: #82c519;
}

.caseNumbertres{
    color: #3641b6;
}

.flag{
    width: 15%;
}

.Targeta{
    width: 400px;
    height: 250px;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.container-list{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 375px){

    .grid-container{
        grid-template-columns: 1fr;
    }

    .Contenedor-targeta{
        overflow-x: hidden;
    }

    .Targeta{
        width: 80%;
        height: fit-content;
    }
}

@media screen and (max-width: 410px){

    .grid-container{
        grid-template-columns: 1fr;
    }

    .Contenedor-targeta{
        overflow-x: hidden;
    }

    .Targeta{
        width: 80%;
        height: fit-content;
    }
}

.Contenedor-targeta{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    overflow-y: scroll;
    height: 100vh;
    padding: 15px;
}

.tarjetaContenido{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.divCarta3, .divCarta4, .divCarta5, .divCarta6,
.divCarta7, .divCarta8{
    margin-left: 14px;
}

.divCarta1{
    margin-bottom: 20px;
}

.divCarta2{
    color: #3135b0;
}

.divCarta3{
    color: #fd2113;
}

.divCarta4{
    color: #83be30;
}

.divCarta5{
    color: #fc0301;
}

.divCarta6{
    color: #460ead;
}

.divCarta7{
    color: #fc5608;
}

.divCarta8{
    color: #0a47f8;
}